.backgr-login{
    position:absolute;
    width:50%;
    bottom:20%;
    right:5%;
}

.backgr-login{
    background-image:url("admin/resources/images/background-login.png");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
    position:relative;
}

.backgr-login
{
    font-weight:500;
    font-size:24px;
    color:#f0e8c0;
    text-align:right
}